# Server log
server.log

# IDEA / CLion
.idea

# Compiled Object files
*.o
*.obj
mpp-backend

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.a
*.lib

# Executables
*.exe

# DUB
.dub
docs.json
__dummy.html
docs/

# Code coverage
*.lst
